<div class="row">
    <div class="col-12 grid-margin stretch-card"  >
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"> Demande</h4>
            
            <form class="forms-sample" #dem=ngForm (ngSubmit)="onSaveDemande(dem.value)">
              <div class="form-group">
                <label for="objet">Objet</label>
                <textarea class="form-control" id="objet" name="objet"   minlength="1" maxlength="100" required ngModel rows="4"></textarea>
              </div>
              <div class="form-group">
                <label for="besoin">Besoin</label>
                <textarea  class="form-control"  id="besoin" name="besoin"  placeholder="Besoin"    rows="6" cols="60" minlength="1" maxlength="300" required ngModel ></textarea>
              </div>
              <div class="form-group">
                <label for="service">Service</label>
                <input type="text" class="form-control"  id="service" name="service"  placeholder="Service" ngModel>
              </div>
              
              <div class="form-group">
                <label for="pieceJointeDemande">pieceJointeDemande</label>
                <input type="file" class="form-control"  id="pieceJointeDemande" accept="image/*"  (change)="onFileChanged($event)" >

                </div>
                <div class="col-6">
                  <h4 class="text-center">Image preview</h4>
                  <img [src]="imageUrl" style="width:400px;height: 300px;">

          </div>
             
              <button type="submit" class="btn btn-success mr-2"  [disabled]="!dem.valid">Ajouter demande</button>
            </form>
          </div>
        </div>
      </div>
      